.result-box {
    color: #C63226;
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
    height: 320px;
    text-transform: uppercase;
}

.result-illustration {
    height: 256px;
    padding: 30px;
}

.result-illustration img {
    width: 200px;
}

.result-marie span {
    font-size: 53px;
    font-weight: bold;
}

.result-marie span + span {
    font-size: 31px;
}

.result-occupation span {
    font-size: 38px;
    font-weight: bold;
}

.result-profession span {
    font-size: 38px;
    font-weight: bold;
    line-height: 30px;
}

.result-alcool, .result-tabac {
    font-size: 14px;
    text-align: left;
    line-height: 15px;
}

.mineur {
    text-align: center;
}
.mineur .result-illustration {
    padding: 0;
}

.hidden {
    display: none;
}

.result-alcool .result-illustration img {
    width: auto;
    padding-bottom: 12px;
}

.result-alcool .font-bold, .result-tabac .font-bold {
    font-size: 53px;
    float: left;
    line-height: 53px;
}

.result-tabac img {
    width: 42px;
    margin-bottom: 10px;
}

.result-tabac.mineur img {
    width: auto;
}

.monnaie {
    font-size: 70%;
    padding-left: 5px;
    vertical-align: top;
    margin-right: 25px;
}

#fbShareButton {
    margin: 30px 0;
}

#retryButton {
    margin-top: 20px;
}