@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Oswald');

.font-bold {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

html, body {
    font-family: 'Nunito', sans-serif;
    color: #555555;
}

h1 {
    background-color: #49B698;
    color: #FFFFFF;
    text-align: center;
    margin: 0;
    padding: 5px;
}

h2 {
    color: #618480;
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid #618480;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 5px;
}

.row-criteria {
    margin: 20px 0;
    font-size: 13px;
}

.criteria {
    height: 100px;
    text-align: center;
}

.criteria .illustration {
    height: 70px;
}

.criteria-ville object {
    width: 100px;
}

.criteria-sexe object {
    height: 60px;
}

.criteria-age .age {
    font-size: 48px;
    color: #49B698;
    font-weight: bold;
}
.criteria-profession .profession {
    font-size: 36px;
    color: #49B698;
}

.criteria-profession .illustration {
    padding-top: 10px;
}
